* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 1.6;
    background: #1A1E26;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 120px;
    line-height: .8;
}

h2 {
    font-size: 48px;
    line-height: 1;
}

h2 span {
    display: block;
}

a {
    color: #3669C9;
}

a:hover,
a:focus {
    color: #fff;
}

.text-accent {
    color: #3669C9;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 2em;
}

.split {
    display: flex;
}

.col {
    margin: 0 1em;
}

.btn {
    display: inline-block;
    padding: .5em 1.25em;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #3669C9;
}

.btn:hover,
.btn:focus {
    background: #3339C9;
}

.hero {
    text-align: left;
    padding: 15rem 0 12rem;
    background-image: url(../img/moon.jpg);
    background-size: cover;
    background-position: bottom right;
}

header,
section {
    padding: 10rem 0;
}

.accent-bg {
    background-color: #3669C9;
}

.accent-bg .btn {
    background-color: #fff;
    color: #1A1E26;
}

.accent-bg .btn:hover {
    background: #1A1E26;
    color: #fff;
}

.extra-space {
    margin-top: 10rem;
}